.learning-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px !important;
}

.character-info {
  margin-top: 50px;
}

.pronunciation-con {
  display: flex;
  align-items: center;
}

.pinyin {
  margin-right: 15px;
  font-size: 20px;
  color: var(--darkGray);
}

.char-evolution-con {
  margin-top: 50px;
}

.evolution-con {
  display: flex;
  align-items: center;
}

.evolution-con img {
  width: 100px;
  height: 110px;
}

.evolution-con .right-arrow {
  width: 80px;
  height: 40px;
}

.char-stroke-video-con {
  margin: 50px 0;
}

video {
  width: 150px;
  height: 150px;
  margin-left: 0 !important;
}

video:last-child {
  margin-left: 20px;
}

.btns-con {
  position: absolute;
  right: 100px;
  top: 60vh;
  display: flex;
}

.btns-con button {
  margin-right: 40px;
}

.video-btns-con {
  display: flex;
  justify-content: flex-start;
}

.word,
.char-evolution-title,
.char-stroke-title,
.description {
  color: var(--darkGray);
}

.word {
  visibility: hidden;
}

.description {
  font-style: italic;
  font-size: 13px;
  margin-top: 5px;
}

.previous-btn,
.next-btn {
  color: var(--darkGray);
  font-size: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 5px 20px;
  border-radius: 2px;
  text-decoration: none;
  background-color: var(--accent);
}

.previous-btn,
.next-btn {
  position: relative;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.previous-btn::before,
.next-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    transparent,
    #fff,
    transparent,
    transparent,
    transparent
  );
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.05s;
  animation: slideAnimation 3s infinite linear;
}

@keyframes slideAnimation {
  0% {
    left: -100%;
  }

  20% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

.previous-btn:hover,
.next-btn:hover {
  transform: scale(0.95);
}

/*Swiper*/

.slides-con {
  padding-left: 50px !important;
}

.character-review-title {
  margin-top: 130px;
  margin-bottom: 30px;
  color: var(--darkGray);
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  width: 100px !important;
  height: 110px !important;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  color: var(--darkGray);
  background: var(--lightGray);
}

.swiper-slide:hover {
  text-decoration: none;
  color: #000;
  transition: 0.2s;
  transform: scale(0.97) !important;
}

.slide-character-chi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 75%;
  width: 100%;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  text-align: center;
  line-height: 1.6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slide-character-eng {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  background: var(--accent);
  background: var(--darkGray);
  color: #fff;
}

.swiper-wrapper {
  margin-bottom: 5vh;
}

.swiper-pagination {
  display: none;
}

@media (max-width: 768px) {
  .evolution-con img {
    width: 60px;
    height: 70px;
  }
  video {
    width: 100px;
    height: 100px;
  }

  .character-review-title {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .swiper-slide {
    width: 80px !important;
    height: 90px !important;
  }

  .slide-character-chi,
  .slide-character-eng {
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 768px) and (min-height: 1025px) {
  .learning-con {
    padding: 0 !important;
  }

  .btns-con {
    top: 50vh;
  }
}

@media (max-width: 430px) {
  .evolution-con img {
    width: 25px;
    height: 40px;
  }
  .word {
    font-size: 10px;
  }

  .character-info {
    padding-left: 20px;
  }

  .character-info h2 {
    font-size: 1.5rem;
  }

  .char-evolution-title,
  .char-stroke-title {
    font-size: 12px;
  }

  video {
    width: 70px;
    height: 70px;
  }

  audio {
    width: 200px;
    height: 40px;
  }

  .learning-con {
    padding: 0 10px !important;
  }

  .home-link,
  .learn-link,
  .quiz-link {
    font-size: 10px !important;
  }

  .nav-bar {
    justify-content: space-around !important;
    width: 100% !important;
    margin-left: 48px !important;
  }

  .nav-bar ul {
    padding-left: 0 !important;
    margin-right: 20px !important;
  }

  .nav-bar ul li {
    margin-right: 10px !important;
    width: 50px;
  }

  .brand {
    font-size: 22px !important;
  }

  .character-review-title {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .swiper-slide {
    width: 70px !important;
    height: 90px !important;
    margin-right: 15px !important;
  }

  .slide-character-chi,
  .slide-character-eng,
  .character-review-title {
    font-size: 12px;
    padding: 4px;
  }

  .previous-btn,
  .next-btn {
    font-size: 11px !important;
  }

  .btns-con {
    position: relative !important;
    top: -130px;
    left: 10px;
  }
}
