.question {
  margin: 70px 0 30px 0;
  font-size: 23px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-con {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 670px;
  padding: 0 150px;
}

.images-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.img-con {
  display: flex;
  justify-content: flex-start;
}

.image-number {
  font-size: 19px;
  font-weight: 500;
  margin-right: 15px;
}

.droppable {
  font-size: 40px;
  border: 1px solid #000;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-con img {
  width: 150px;
  height: 100px;
  margin-bottom: 50px;
}

.feedback {
  font-size: 15px;
}

.feedback-correct {
  color: green;
  display: none;
  font-size: 23px;
  text-align: center;
  margin-top: 7px;
  font-weight: 500;
}

.feedback-wrong {
  color: red;
  display: none;
  font-size: 20px;
  margin-top: 7px;
  font-weight: 500;
}

.show-message {
  color: red;
  position: absolute;
  bottom: 20px;
  right: 10px;
  display: none;
}

/* button animation */

#nextButton {
  color: var(--darkGray);
  font-size: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--accent);

  /* position: absolute;
  bottom: 5px !important;
  right: 200px !important; */
  height: 50px;
  width: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
  position: absolute;
  left: 650px;
}

#nextButton {
  outline: none;
  border: none;
  transition: all 0.5s;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 200px;
  margin-bottom: 250px;
}

#nextButton::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    transparent,
    #fff,
    transparent,
    transparent,
    transparent
  );
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.05s;
  animation: slideAnimation 3s infinite linear;
}

@keyframes slideAnimation {
  0% {
    left: -100%;
  }

  20% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

#nextButton:hover {
  transform: scale(0.95);
}

.question-input {
  width: 50px;
  padding: 0 0 0 10px;
}

@media (max-width: 1024px) {
  .content-con {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #canvas {
    width: 100%;
    height: 50px !important;
  }

  .feedback {
    font-size: 9px !important;
  }

  .question {
    font-size: 16px;
    margin-top: 30px;
  }

  .content-con {
    padding: 0 80px;
    justify-content: space-between;
  }

  .images-con {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #nextButton {
    font-size: 14px !important;
    padding: 3px 5px !important;
    left: 500px;
    bottom: 200px;
    width: 70px;
    height: 40px;
  }

  .progress-canvas-container {
    height: 0px !important;
    margin-bottom: 50px;
  }

  .progress-number {
    margin-top: 150px !important;
  }

  .go-to-title {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.3);
    color: var(--lightGray);
    padding: 3px 10px;
    border-radius: 2px;
  }

  .question-list li {
    font-size: 12px;
  }
  .progress-bar {
    height: 30px !important;
    margin-top: 20px !important;
  }

  #canvas {
    height: 50px !important;
  }
  .percentage {
    margin: 8px !important;
  }

  .feedback-correct {
    font-size: 17px;
  }

  .img-con img {
    width: 120px;
    height: 100px;
    margin-bottom: 25px;
  }

  .droppable {
    width: 140px;
    height: 120px;
    font-size: 23px;
  }

  .content-con {
    height: 600px;
  }
}

@media (max-width: 768px) and (min-height: 1025px) {
  .feedback {
    font-size: 9px !important;
  }
}

@media (max-width: 430px) {
  .progress-canvas-container {
    height: 0px !important;
    margin-bottom: 50px;
  }

  .question {
    font-size: 13px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 0;
  }

  .quiz-box form {
    justify-content: flex-start;

    height: 200px;
    padding: 20px 0 0 20px;
  }

  .quiz-box label {
    font-size: 14px;
  }

  .form-menu-con form label,
  .feedback-msg,
  .show-wrong,
  .show-correct,
  .show-message {
    font-size: 8px;
    margin-left: 2px;
  }

  .feedback-msg {
    margin-top: 20px !important;
  }

  .feedback {
    font-size: 7px !important;
  }

  #nextButton {
    font-size: 8px !important;
    bottom: -30px;
  }

  .go-to-title {
    font-size: 12px;
  }

  .question-list li a {
    font-size: 9px;
    padding: 3px 3px;
  }

  .progress-bar {
    display: none !important;
  }

  #canvas {
    display: none;
  }

  .content-con {
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .images-con {
    height: 75%;
  }

  .img-con img {
    width: 90px;
    height: 70px;
    margin-bottom: 20px;
  }

  .droppable {
    width: 100px;
    height: 80px;
    font-size: 15px;
  }

  .droppable p {
    margin-bottom: 0;
  }

  .feedback-correct,
  .feedback-wrong {
    font-size: 15px;
  }
}
