.quiz-con {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  width: 600px !important;
  margin-top: 90px;
  padding: 0 !important;
  border-radius: 5px;
}

.quiz-box {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: inherit;
  height: 600px;
  background: var(--lightGray);
}

.quiz-question {
  font-size: 23px;
  background-color: var(--darkGray);
  width: 100%;
  color: #fff;
  padding: 15px 35px;
  margin: 0 !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  /* height: 99px; */
}

.quiz-con form {
  background: var(--lightGray);
  align-self: flex-start;
  padding: 15px 35px;
  width: 100%;
  height: 455px;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.option {
  font-size: 23px;
}

input[type="radio"] {
  transform: scale(1.3);
  margin-right: 10px;
}

.show-correct,
.show-wrong {
  visibility: hidden;
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
}

.show-message {
  font-size: 20px;
  margin-top: 0;
  visibility: hidden;
}

.show-correct {
  color: green;
}

.show-wrong,
.show-message {
  color: red;
}

/* button animation */

.submit-next-con {
  display: flex;
}

#submit,
#nextButton {
  color: var(--darkGray);
  font-size: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 5px 20px;
  border-radius: 2px;
  text-decoration: none;
  background-color: var(--accent);
}

#submit,
#nextButton {
  position: relative;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

#submit::before,
#nextButton::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    transparent,
    #fff,
    transparent,
    transparent,
    transparent
  );
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.05s;
  animation: slideAnimation 3s infinite linear;
}

@keyframes slideAnimation {
  0% {
    left: -100%;
  }

  20% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

#submit:hover,
#nextButton:hover {
  transform: scale(0.95);
}

.btns-con {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px;
  background: var(--lightGray);
}

.btns-con button {
  margin-right: 40px;
}

.question-input {
  width: 50px;
  padding: 0 0 0 10px;
}

@media (max-width: 768px) {
  .quiz-con {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .quiz-box {
    font-size: 16px;
    margin-top: -30px;
    margin-bottom: 0;
    width: 450px;
  }

  .quiz-question {
    font-size: 18px;
  }

  .quiz-box label {
    font-size: 18px;
  }

  .form-menu-con form label,
  .feedback-msg,
  .show-wrong,
  .show-correct,
  .show-message {
    font-size: 13px;
  }

  #submit,
  #nextButton {
    font-size: 11px !important;
    z-index: 1000;
  }

  .progress-canvas-container {
    height: 0px !important;
    margin-bottom: 50px;
  }

  .progress-number {
    margin-top: 150px !important;
  }

  .go-to-title {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.3);
    color: var(--lightGray);
    padding: 3px 10px;
    border-radius: 2px;
  }

  .question-list li {
    font-size: 12px;
  }
  .progress-bar {
    height: 30px !important;
    margin-top: 20px !important;
  }

  #canvas {
    width: 100%;
    height: 50px !important;
  }
  .percentage {
    margin: 8px !important;
  }
}

@media (max-width: 430px) {
  .quiz-con {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
    margin-left: 40px !important;
  }

  .quiz-box {
    width: 250px;
    height: 350px;
    margin-top: 10px;
  }

  .quiz-question {
    font-size: 13px;
    padding: 15px 15px 15px 20px;
  }

  .quiz-box form {
    justify-content: flex-start;

    height: 200px;
    padding: 20px 0 0 20px;
  }

  .quiz-box label {
    font-size: 14px;
  }

  .feedback-msg,
  .show-wrong,
  .show-correct,
  .show-message {
    font-size: 7px;
    margin-left: 2px;
  }

  .option input[type="radio"] {
    width: 10px;
    height: 10px;
  }

  .option label {
    font-size: 10px;
  }

  .feedback-msg {
    margin-top: 20px !important;
  }

  #submit,
  #nextButton {
    font-size: 8px !important;
    bottom: -30px;
  }

  .go-to-title {
    font-size: 12px;
  }

  .question-list li a {
    font-size: 9px;
    padding: 3px 3px;
  }

  .progress-bar {
    display: none !important;
  }

  #canvas {
    display: none;
  }
}
