.result-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0 0 40px;
}

.score {
  font-size: 24px;
  font-weight: bold;
}
.knowledge {
  margin-top: 20px;
}

.knowledge h2,
.review h2 {
  font-size: 24px;
  font-weight: bold;
}

.review {
  margin-top: 20px;
}
.review h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.knowledge ul {
  color: var(--darkGray);
}
.knowledge ul li,
.review ul li {
  margin-top: 10px;
}

.correct-qustion-link {
  color: var(--darkGray);
  font-size: 18px;
}

.incorrect-qustion-link {
  color: var(--darkGray);
  font-size: 18px;
}

.review ul {
  padding-left: 40px;
  color: var(--darkGray);
}

.correct-qustion-link:hover,
.incorrect-qustion-link:hover {
  color: var(--darkGray);
}

.btns-con {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

#home-btn {
  margin-left: 40px;
  margin-right: 50px;
}

/* button animation */
#retry-quiz-btn,
#home-btn {
  color: var(--darkGray);
  font-size: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 5px 20px;
  border-radius: 2px;
  text-decoration: none;
  background-color: var(--accent);
}

#retry-quiz-btn,
#home-btn {
  position: relative;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

#retry-quiz-btn::before,
#home-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    transparent,
    #fff,
    transparent,
    transparent,
    transparent
  );
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.05s;
  animation: slideAnimation 3s infinite linear;
}

@keyframes slideAnimation {
  0% {
    left: -100%;
  }

  20% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

#retry-quiz-btn:hover,
#home-btn:hover {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .result-container {
    max-width: 700px !important;
  }

  .score,
  .knowledge h2,
  .review h2 {
    font-size: 20px;
  }

  .knowledge ul li,
  .review ul li {
    margin-top: 7px;
    font-size: 14px;
  }

  .previous-btn,
  .next-btn,
  .home-link,
  .learn-link,
  .quiz-link,
  #retry-quiz-btn,
  #home-btn {
    font-size: 15px !important;
  }
}

@media (max-width: 430px) {
  .result-container {
    padding: 40px 10px 0 10px;
  }

  .home-link,
  .learn-link,
  .quiz-link {
    font-size: 10px !important;
  }

  .nav-bar ul {
    padding-left: 0 !important;
    margin-right: 20px !important;
  }

  .nav-bar ul li {
    margin-right: 10px !important;
    width: 50px;
  }

  .brand {
    font-size: 22px !important;
  }

  #retry-quiz-btn,
  #home-btn {
    font-size: 11px !important;
    padding: 5px 10px;
  }

  .score,
  .knowledge h2,
  .review h2 {
    font-size: 15px;
  }

  .knowledge ul,
  .review ul {
    padding-left: 15px;
  }

  .knowledge ul li,
  .review ul li {
    margin-top: 5px;
    font-size: 11px;
  }
}
