<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='quiz_1.css') }}"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='progressBar.css') }}"
/>

{% extends "layout.html" %} {% block content %}
<canvas id="canvas2"></canvas>
<div class="container quiz-con">
  <div class="quiz-box">
    <p class="quiz-question">{{quiz.question}}</p>
    <form>
      {% for option in quiz.options %}
      <div class="option">
        <input
          type="radio"
          id="option{{ loop.index }}"
          name="options"
          value="{{ loop.index }}"
        />
        <label for="option{{ loop.index }}"
          >{{ loop.index }}. {{ option }}</label
        >
        <span class="feedback-msg show-correct">Correct!</span>
        <span class="feedback-msg show-wrong">
          Incorrect. {{quiz.keyWord}} is {{quiz.correctCharacter}}.
          ({{quiz.options[loop.index - 1]}} means
          "{{quiz.optionMeaning[loop.index - 1]}}.")
        </span>
      </div>
      {% endfor %}

      <div class="feedback-msg show-message">
        Please select an option before checking the answer.
      </div>
      <!-- <div class="btns-con">
      <button id="submit">Check Answer</button>
      <button id="nextButton">next</button>
    </div> -->
    </form>
    <div class="btns-con">
      <button id="submit">Check Answer</button>
      <button id="nextButton">Next</button>
    </div>
  </div>
</div>

<!-- progress bar -->

<!-- <div class="progress-canvas-container">
  <div class="progress-bar">
    <canvas id="canvas"></canvas>
    <span class="percentage"></span>
  </div>
  <div class="progress-number">
    &lt;

    <input type="number" class="question-input" min="1" max="15" />

    / 15 &gt;
  </div>
</div> -->

<div class="progress-canvas-container">
  <!-- <div class="progress-bar">
    <canvas id="canvas"></canvas>
    <span class="percentage"></span>
  </div> -->

  <div class="progress-number">
    <div class="go-to-title">Navigate to Question:</div>
    <ul class="question-list">
      <li><a href="/quiz_1/1" class="q-link q-link1">1</a></li>
      <li><a href="/quiz_1/2" class="q-link q-link2">2</a></li>
      <li><a href="/quiz_1/3" class="q-link q-link3">3</a></li>
      <li><a href="/quiz_1/4" class="q-link q-link4">4</a></li>
      <li><a href="/quiz_1/5" class="q-link q-link5">5</a></li>
      <li><a href="/quiz_2/6" class="q-link q-link6">6</a></li>
      <li><a href="/quiz_2/7" class="q-link q-link7">7</a></li>
      <li><a href="/quiz_2/8" class="q-link q-link8">8</a></li>
      <li><a href="/quiz_2/9" class="q-link q-link9">9</a></li>
      <li><a href="/quiz_2/10" class="q-link q-link10">10</a></li>
      <li><a href="/quiz_3/11" class="q-link q-link11">11</a></li>
      <li><a href="/quiz_3/12" class="q-link q-link12">12</a></li>
      <li><a href="/quiz_3/13" class="q-link q-link13">13</a></li>
      <li><a href="/quiz_3/14" class="q-link q-link14">14</a></li>
      <li><a href="/quiz_3/15" class="q-link q-link15">15</a></li>
    </ul>
  </div>

  <div class="progress-bar">
    <canvas id="canvas"></canvas>
    <span class="percentage"></span>
  </div>
</div>

<script>
  let quiz = {{quiz|tojson}}
  let id = {{id|tojson}}
</script>

<script src="{{ url_for('static', filename='layout.js') }}"></script>

<script src="{{ url_for('static', filename='progressBar.js') }}"></script>

<script src="{{ url_for('static', filename='quiz_1.js') }}"></script>

{% endblock %}
